*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.name-container {
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    margin: 50px;

}

.name{
    text-align: center;
    margin: 0;
}

.old{
    text-align: center;
    margin: 0;
}

.description{
    text-align: justify;
    margin: 50px;

}

.span-1{
    font-weight: bold;
    font-size: 18px;
}

.span-2{
    font-size: 10px;
}