.container{
    display: flex;
    justify-content: center;
}

.container-item{
    width: 500px;
    height: 800px;
    margin: 40px;
    border: 5px solid black;
    background-color: #ebe7e0;
}

.title-item{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 30px;

}

.item-wrap{
    width: 470px;
    height: 700px;
    margin-left: 10px;
    overflow: auto;
}

.list-item{
    list-style: none;
    padding-left: 0;
}

.item{
    border: 1px solid black;
    width: 400px;
    height: 70px;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}

.item:hover{
    border: solid #44749d 5px;
}

.title-img{
    margin: 0;

}

.img{
    width: 70px;
    height: 70px;
}

.container-desc{
   margin-top: 0;
   padding: 0;
   
}